@import "tailwindcss";

:root {
  --base: hsl(220deg, 23%, 95%);
  --text: hsl(234deg, 16%, 35%);
  --text-hover: hsl(234deg, 16%, 23%);
  --subtext: hsl(233deg, 13%, 41%);
  --mantle: hsl(220deg, 22%, 92%);
  --crust: hsl(220deg, 21%, 89%);
  --blue: hsl(220deg, 91%, 54%);
  --blue-hover: hsl(220deg, 91%, 42%);
  --surface-0: hsl(223deg, 16%, 83%);
}

@theme inline {
  --color-base: var(--base);
  --color-text: var(--text);
  --color-text-hover: var(--text-hover);
  --color-subtext: var(--subtext);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);
  --color-blue: var(--blue);
  --color-blue-hover: var(--blue-hover);
  --color-surface-0: var(--surface-0);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #1e1e2e;
    --subtext: #bac2de;
    --text: #cdd6f4;
    --crust: hsl(240deg, 23%, 9%);
    --mantle: #181825;
    --blue: #89b4fa;
    --blue-hover: hsl(217deg, 92%, 64%);
    --surface-0: hsl(237deg, 16%, 23%);
  }
}

body {
  background: var(--base);
  color: var(--text);
  font-family: var(--font-geist-sans), sans-serif;
}
